* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  background: #eaeaea;
}

img {
  width: 100%;
  margin-bottom: 1rem;
}

p, a, h4, div {
  margin-bottom: 1rem;
}

section {
  max-width: 1400px;
  margin: 0 auto 3rem;
  text-align: center;
}

.juniper-top-container {
  position: relative;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #fff;
}

.juniper-top-container .logo h1 {
  font-size: 2rem;
}

.juniper-top-container .logo h1 span {
  color: #8dff00;
}

.juniper-top-container h1 {
  font-size: 3rem;
}

.juniper-top-container:before {
  content: "";
  background-image: url("../images/roots banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.nav-container {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.8);
}

.nav-container li {
  list-style: none;
  display: inline-block;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 25%;
}

.nav-links a {
  color: #fff;
  font-size: 1.3rem;
  margin: 1.5rem;
}

.nav-links a:hover {
  border-bottom: 1px solid #fff;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  background-color: #fff;
  height: 1px;
  margin: 7px;
}

.juniper-title {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Slabo 27px', serif;
}

.juniper-title h1 {
  font-size: 5rem;
  margin-bottom: 1.5rem;
}

.juniper-title p {
  font-size: 1.9rem;
  text-transform: lowercase;
  color: #abe3e7;
}

.main-container {
  padding: 1rem;
  text-align: center;
}

.main-container h4 {
  font-size: 2rem;
  padding: 0.5rem;
}

.main-container p {
  font-size: 1.3rem;
  letter-spacing: 2px;
  padding: 0.5rem;
}

.main-container a {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 3rem;
  padding: 0.2rem;
  color: #e8a826;
  background: #444;
}

.main-container a:hover {
  opacity: 0.9;
}

.main-container .main-content {
  background: #7fd677;
  color: #333;
  -webkit-box-shadow: 1px 2px 3px;
          box-shadow: 1px 2px 3px;
}

.main-container .main-content:nth-child(2) {
  background: #f27750;
}

.main-container .main-content:nth-child(3) {
  background: #5799cc;
}

.main-container .main-content:nth-child(4) {
  background: #f0eafe;
}

.main-container .secondary-content {
  background: #eadb87;
  -webkit-box-shadow: 1px 2px 3px;
          box-shadow: 1px 2px 3px;
  color: #333;
}

.main-container .secondary-content h5 {
  font-size: 1.4rem;
  padding-bottom: 0.4rem;
}

.main-container .secondary-content div {
  border-bottom: 1px solid #000;
}

.main-container .secondary-content p {
  margin-bottom: 0.2rem;
  text-align: left;
  font-size: 1rem;
}

.park-activities-container p {
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding: 0.2rem;
  line-height: 1.8rem;
}

.park-activities-container li {
  display: inline-block;
}

.park-activities-container .pa-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.park-activities-container a {
  background: #0d86d0;
  font-size: 1.4rem;
  padding: 0.3rem;
  margin: 1rem;
  border-radius: 10%;
  color: #fff;
}

.park-activities-container a:hover {
  opacity: 0.8;
}

.sb {
  max-width: 100%;
}

.secondary-banner {
  color: #fff;
  position: relative;
  height: 65vh;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secondary-banner:before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 65vh;
  background-image: url("../images/secondary banner.jfif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.secondary-banner h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.secondary-banner p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.secondary-banner a {
  color: #fff;
  font-size: 1.5rem;
  background: #0d86d0;
  padding: 0.4rem;
  border-radius: 10%;
}

.secondary-banner a:hover {
  opacity: 0.8;
}

.secondary-banner-title {
  padding: 1rem;
}

.featured-container {
  padding: 1rem;
}

.featured-container h3 {
  font-size: 2.1rem;
  margin-bottom: 1.2rem;
}

.featured-container p {
  font-size: 1.2rem;
}

.featured-container i {
  margin-bottom: 1rem;
}

.featured-container .cruising {
  color: #0b2c9f;
}

.featured-container .gift {
  color: #00c147;
}

.featured-container .ts {
  color: #ff534a;
}

.pc {
  max-width: 100%;
}

.plan-container {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #eaeaea;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  height: 65vh;
}

.plan-container:before {
  content: "";
  height: 65vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/plan banner.jpg");
  background-size: cover;
  background-position: center;
  background-position: no-repeat;
  z-index: -1;
}

.plan-container h3 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.plan-container p {
  font-size: 1.5rem;
}

.plan-container .pt-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan-container .pt-icons div {
  margin: 2rem;
  cursor: pointer;
}

.plan-container .pt-icons div:hover {
  opacity: 0.7;
}

.newsletter-container {
  background-color: rgba(129, 16, 6, 0.8);
  color: #eaeaea;
  padding: 1rem;
}

.newsletter-container div {
  margin-bottom: 1.5rem;
}

.newsletter-container h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.newsletter-container h4 {
  font-size: 1.8rem;
}

.newsletter-container p {
  font-size: 1.3rem;
  margin-top: 1.3rem;
  margin-bottom: 1.8rem;
  letter-spacing: 2px;
}

.newsletter-container .form input {
  margin-bottom: 0.8rem;
  text-align: left;
}

.newsletter-container a {
  color: #fff;
  font-size: 1.2rem;
  background: #0d86d0;
  padding: 0.4rem;
  border-radius: 10%;
  margin-bottom: 2rem;
}

.newsletter-container a:hover {
  opacity: 0.8;
}

.newsletter-container .park-address p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.connect i {
  margin: 1rem;
  cursor: pointer;
}

.connect i:hover {
  opacity: 0.7;
}

footer {
  text-align: center;
}

footer p {
  font-size: 1.2rem;
}

@media (max-width: 1125px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    z-index: 5;
    position: absolute;
    top: 10vh;
    right: 0;
    height: 90vh;
    background: rgba(0, 0, 0, 0.8);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 50%;
  }
  .nav-links a:hover {
    border-bottom: none;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .burger {
    display: block;
  }
  .toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
}

@media (min-width: 758px) {
  .main-holder {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  .form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .featured-slider {
    padding: 1rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
  .featured-slider i {
    cursor: pointer;
  }
}

@media (min-width: 900px) {
  .main-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5fr 3fr;
        grid-template-columns: 5fr 3fr;
    grid-gap: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .plan-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .park-activities-container a {
    font-size: 1.1rem;
  }
}
/*# sourceMappingURL=styles.css.map */